@using SocialNetwork.Core.Application.ViewModels.Post;

@model SavePostViewModel

@{
    ViewData["Title"] = "Delete Post";
}

<div class="row">

	<div class="col-6 offset-3">

		<div class="card">
			<div class="card-header">
				<h4>Seguro que desea eliminar el post?</h4>
			</div>
			<div class="card-body">
				<form method="post" asp-controller="Posts" asp-action="DeletePost">
					<input type="hidden" asp-for="Id" />
					<button type="submit" class="btn btn-danger">Eliminar</button>
					<a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancelar</a>
				</form>
			</div>
		</div>
	</div>


</div>
