@using SocialNetwork.Core.Application.ViewModels.User;
@model NewPassViewModel

<div class="text-center my-5">

		<h1 class="fw-light mb-3 my-2">New password</h1>
</div>

<div class="login my-5">

	<span class="text-danger">@ViewBag.ms</span>
	<form class="login-form card shadow-sm p-5" method="post" asp-controller="Users" asp-action="SetNewPassword">
		<div class="mb-3">

			<div class="my-4">
				<label asp-for="Password">Write a new password</label>
				<input placeholder="Password" class="form-control" type="password" asp-for="Password" />
				<span class="text-danger" asp-validation-for="Password"> </span>
			</div>

			<div class="my-4">
				<label asp-for="ConfirmPassword">Confirm password</label>
				<input placeholder="Password" class="form-control" type="password" asp-for="ConfirmPassword" />
				<span class="text-danger" asp-validation-for="ConfirmPassword"> </span>
			</div>

			<input asp-for="UserId" value="@Model.UserId" type="hidden" />

		</div>

		<button type="submit" class="btn btn-primary">Update</button>

		<a class=" my-2 btn btn-light shadow-sm" asp-controller="Users" asp-action="Index">Cancel</a>

	</form>


</div>


