@using SocialNetwork.Core.Application.ViewModels.User;
@model SaveUserViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="login">
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
    <form class="login-form" enctype="multipart/form-data" asp-controller="Users" asp-action="Register">

        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control">
            <label asp-for="Name">Name</label>
            <span class="text-danger" asp-validation-for="Name"> </span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control">
            <label asp-for="LastName">Last name</label>
            <span class="text-danger" asp-validation-for="LastName"> </span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control">
            <label asp-for="UserName">User name</label>
            <span class="text-danger" asp-validation-for="UserName"> </span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Phone" class="form-control">
            <label asp-for="Phone">Phone</label>
             <span class="text-danger" asp-validation-for="Phone"> </span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control">
            <label asp-for="Email">Email</label>
            <span class="text-danger" asp-validation-for="Email"> </span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control">
            <label asp-for="Password">Password</label>
            <span class="text-danger" asp-validation-for="Password"> </span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" class="form-control">
            <label asp-for="ConfirmPassword">Confirm password</label>
            <span class="text-danger" asp-validation-for="ConfirmPassword"> </span>
        </div>

        <div class="mb-3">
			<input asp-for="File" class="form-control" />
            <span class="text-danger" asp-validation-for="File"> </span>
		</div>

        <button type="submit" class="btn btn-primary">Save</button>
		<a asp-controller="Users" asp-action="Index" class="btn btn-success">Back</a>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>

    </form>

</div>